*{
    font-family: serif;
}

/* header */
header {
  background-color: #6c757d;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  display: inline-block;
  top: 0;
  color: #fff;
}
.nav-link{
  font-size: 20px;
}
li {
  list-style-type: none;
}
/* end of header */


/* slider */
.carousel-item {
  padding-top: 7vh;
  height: 75vh;
  min-height: 100px;
  background-size:contain;
}

.sliderp,
.slidertext {
  color: black;
  font-family: serif;
  font-weight: bold;
}

.sliderp {
  padding-bottom: 20vh;
}


 /*** job offers items ***/
 @media (min-width: 300px) {
  .hide {
    padding-top: 50px;
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .hide {
    display: none;
  }
}
.job-item { 
  border: 1px solid transparent; 
  border-radius: 2px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .08);
  transition: .8s;
  background-color: #202020;
  /* background-color: #6085ad; */
  color: white;
}
.mb-3.job-title h3{
  color: #fff;
}
.title-name{
  color: #fff;
}
 .job-item:hover{
  background-color: #6d7985;
  color: #fff;
 }
.text-primary {
  color: #d2d2d2 !important
}
.btn.apply-btn:hover{
  background-color: #202020;
}






.btn {
  /* transition: .5s; */
  color: #fff;
  background-color: #000000;
}
.btn.apply-btn:hover{
  color: #fff;
  background-color: #000000;
}
.btn-square {
  width: 35px;
  height: 35px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}





/* sign up form*/
body {
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fff;
  /* color: gray;  */
}

#signin{
  color: #fff;
}
#signin:hover{
  color: #000;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  color: #000; }

.ftco-section {
  padding: 7em 0; }

.wrap {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  }

.text-wrap, .login-wrap {
  width: 100%; }

.text-wrap {
  width: 100%;
  position: relative;
  z-index: 0; }
  @media (min-width: 992px) {
    .text-wrap {
      width: 70%; } }

@media (min-width: 992px) {
  .login-wrap {
    width: 50%; } }

.text-wrap .text 
{
  color: rgba(255, 255, 255, 0.8); 
}
  .text-wrap .text h2 {
    font-weight: 700;
    color: #fff;
    font-size: 24px; }

.login-wrap {
  margin: 0 auto;
  position: relative;
  background: #c4c4c4; }
  .login-wrap h3 {
    font-weight: 300; }
    .login-wrap h3 span {
      font-size: 16px;
      display: block;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4); }

.form-group {
  width: 100%; }
  .form-group label {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 0; }
    .form-group label.label {
      width: 150px; }

.form-control {
  width: calc(100% -150px);
  height: 50px;
  background: rgba(0, 0, 0, 0.03);
  color: #000;
  font-size: 14px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
 
textarea.form-control {
  height: inherit !important; }

  .signup{
    padding-top: 3vh;
   padding-left: 20vh;
position: absolute;
margin: 0 auto;
  }
/* end of sign up form*/

/* footer */
.sado img {
  width: 25%;
  height: 30px;
  background-repeat: repeat-x;
}

.site-footer {
  background-color: #6c757d;
  padding: 30px 10px;
  font-size: 15px;
  color: #fff;
  width: 100%;
  /* display: flex; */
  position: relative;
  /* z-index: 99; */
  /* display: inline-block; */
  bottom: 0;

}
.site-footer hr {
  border-top-color: #fff;
  opacity: 0.5;
  width: 90vw;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  text-decoration: none;
  color: #fff;
}

.footer-links a {
  color: #fff;
}

.footer-links a:hover {
  color: #030303;
  transform: scale(2px);
  text-decoration: none;
}

.copyright-text {
  text-align: center;
}
.logo img {
  width: 90px;
  height: 60px;
}
.logo {
  text-align: center;
}
.logo a {
  text-decoration: none;
}

.logo a:hover ,.social a:hover ,
 .logo a:hover,  .social a:hover {
  color: #070707;
  text-decoration: none;
}

.social a {
  color: #fff;
  font-size: 0.7em;
}
.social {
  display: block;
}
i {
  padding-left: 0.7em;
}

.copyright-text ,  .logo{
  text-align: center;
}

.logo a {
  text-decoration: none;
}
/* end of footer */
